html, body {
    height: fit-content;
    overflow-x: hidden;
}

footer {
    display: absolute;
    bottom: 0;
}

.parte-arriba {
    margin-left: 125px;
    margin-top: 72px;
    display: -webkit-inline-box;
}

.perfil-imagen-artista {
    width: 396.67px;
    height: 396.67px;
    object-fit: cover;
}

.nombre-tags-y-bio {
    display: flex;
    flex-direction: column;
}

.perfil-nombre {
    font-family: Fjalla One;
    font-size: 90.67px;
    color: white;
    margin-left: 30px;
}

.tag-genero1, .tag-genero2, .nacionalidad {
    font-family: DM Sans;
    font-size: 22.67;
    color: #6C00C0;
    position: relative;
    bottom: 30px;
    margin-right: 21px;
    border: 10px white solid;
    background-color: white;
    border-radius: 37.78px;
}

.tag-genero1 {
    margin-left: 30px;
}

.biografia {
    font-size: 22.67px;
    color: white;
    font-family: DM Sans;
    width: 697px;
    margin-left: 30px;
}

.biografia::first-letter {
    color: #7728B5;
}

.discografia {
    margin-top: 100px;
}

.perfil-discos {
    font-family: Fjalla One;
    font-size: 75.56px;
    color: white;
    margin-left: 120px;
}

.tag-discos {
    font-family: DM Sans;
    font-size: 22.67;
    color: white;
    position: relative;
    bottom: 22.67px;
    margin-right: 21px;
    border: 10px #222222 solid;
    background-color: #222222;
    border-radius: 37.78px;
    padding-left: 2px;
    padding-right: 2px;
}

#sencillos-tag {
    margin-left: 30px;
}

.sencillos, .albumes, .eps,
.lps, .envivo, .colaboraciones {
    display: flex;
    justify-content: space-evenly;
}

.albumes, .eps,
.lps, .envivo, .colaboraciones {
    display: none;
}

.imagen-card-musica {
    width: 236.11px;
    height: 236.11px;
    position: absolute;
    margin-top: 24.4px;
    margin-left: 49px;
}

.tipo-card-musica {
    display: inline-block;
    transform: rotate(180deg);
    width: 32.11;
    height: 237.06;
    writing-mode: vertical-rl;
    background-color: #2F2C2C;
    bottom: -372;
    margin-left: 17;
    position: absolute;
    text-align: -webkit-center;
    font-size: 18.89;
    font-family: 'DM SANS';
    color: white;
}

.perfil-card-musica {
    width: 268.22;
    height: 274.83;
}

.nombre-card-musica {
    font-family: DM Sans;
    font-size: 22.67;
    position: absolute;
    width: 268.22;
    margin-top: 261px;
    margin-left: 17px;
    text-align: center;
    color: white;
}

.zona-seleccion {
    width: 268.22;
    height: 305;
    position: absolute;
    left: 17;
    top: 776;
}

.preview-video-agenda {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: -150px;
}

.titulo-videos {
    font-family: Fjalla One;
    font-size: 75.56px;
    color: white;
    margin-left: 120px;
}

.imagen-videos {
    width: 1124.83px;
    height: 613.89px;
    display: flex;
    margin-left: 120px;
}

.nombre-videos {
    font-family: DM Sans;
    font-size: 37.78px;
    color: white;
    margin-left: 220px;
    position: relative;
    bottom: 60px;
}

.icono-videos {
    width: 137.64;
    height: 164.99;
    position: relative;
    bottom: 450px;
    left: 50%;
}

.noticias-perfil {
    display: flex;
    flex-direction: column;
}

.titulo-noticias {
    font-family: Fjalla One;
    font-size: 75.56px;
    color: white;
    margin-left: 120px;
}

.card-noticias {
    width: 1129.56;
    height: 363.61;
    background-color: black;
    margin-left: 120px;
    margin-top: 45px;
}

.fecha-artista-card {
    display: flex;
    justify-content: space-between;
}

.fecha-card-noticias {
    font-family: Fjalla One;
    font-size: 22.67px;
    color: white;
    margin-left: 20px;
    height: 37.44px;
    padding-top: 3px;
}

.artista-card-noticias {
    font-family: Fjalla One;
    font-size: 22.67px;
    color: white;
    padding: 5px;
    background-color: #6C00C0;
    height: 37.44px;
    text-align: center;
    padding-top: 3px;
}

.titulo-parrafo-card {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 440px;
}

.titulo-card-noticias {
    font-family: Fjalla One;
    font-size: 35.89px;
    color: #6C00C0;
    background-color: white;
    width: 690.02px;
    height: 122.78px;
    padding: 10px;
}

.parrafo-card-noticias {
    font-family: Titillium Web;
    color: white;
    font-size: 22.67px;
    width: 653.16px;
    padding: 10px;
}

.imagen-card-noticias {
    width: 439.53px;
    height: 327px;
    position: relative;
    bottom: 245.53px;
}

.leermas-card-noticias {
    font-family: Fjalla One;
    font-size: 18.89px;
    color: white;
    background-color: #6C00C0;
    width: 90.74px;
    height: 42.5px;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 115px;
    left: 580px;
}

.vertodas-noticias {
    font-family: DM Sans;
    font-size: 30.22px;
    color: white;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 1105px;
}

.fotos-artista {
    margin-top: 80px;
}

.fotos-titulo {
    font-family: Fjalla One;
    font-size: 75.56px;
    color: white;
    margin-left: 120px;
}

.flex-fotos-cards {
    display: flex;
}

#primera-foto {
    margin-left: 120px;
}

.fotos-cards {
    width: 362.67px;
    height: 243.67px;
}

.imagen-foto-card {
    width: 362.67px;
    height: 243.67px;
    position: absolute;
}

.degrade-foto-card {
    width: 362.67px;
    height: 136.94px;
    background: rgb(19,19,19);
    background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(27,27,27,0) 100%);
    position: relative;
    top: 110px;
}

.descripcion-foto-card {
    position: relative;
    font-family: DM Sans;
    font-size: 18.89px;
    color: white;
    top: 45px;
}